language: cpp
dist: bionic
os: linux
compiler:
  - clang
addons:
  apt:
      packages:
        - libsdl2-dev
        - libboost-program-options-dev
script:
- mkdir -p build
- cd build
- cmake ..
- make


