name: Ubuntu/macOSX Build

on: 
  push:
    paths-ignore:
    - '**/*.md'

jobs:

  Windows-Server-2019:
    runs-on: windows-latest

    steps:
     # Cache/Restore the vcpkg's build artifacts.
    - name: Cache vcpkg's artifacts
      uses: actions/cache@v1
      with:
        path: ~/vcpkg/
        # The key will be different each time a different version of vcpkg is used, or different ports are installed.
        key: ${{ hashFiles( env.vcpkgResponseFile ) }}-${{ hashFiles('.git/modules/vcpkg/HEAD') }}-${{ runner.os }}
        
    - uses: actions/checkout@v2
    - name: install-deps
      run: |
          vcpkg install sdl2:x64-windows sdl2-ttf:x64-windows
          vcpkg integrate install
    - name: build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake ..
    - name: On-Fail
      if: failure()
      run: type build/compile_commands.json
      
        
