name: Ubuntu/macOSX Build

on: 
  push:
    paths-ignore:
    - '**/*.md'

jobs:
  Ubuntu-Build:
      runs-on: ubuntu-latest
      
      steps:
      - uses: actions/checkout@v2
      - name: install-deps
        run: |
          sudo apt-get -y install libsdl2-dev
          sudo apt-get -y install libboost-program-options-dev
      - name: Build
        run: |
            mkdir -p build
            cd build
            cmake ..
            make
      - name: On-Failure
        if: failure()
        run: cat build/compile_commands.json

  MacOs-Build:
      runs-on: macos-latest

      steps:
      - uses: actions/checkout@v2
      - name: install-deps
        run: |
          brew install sdl2
          brew install boost
      - name: Build
        run: |
            mkdir -p build 
            cd build
            cmake ..
            make
      - name: On-Failure
        if: failure()
        run: cat build/compile_commands.json
  Windows-Server-2019:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: install-deps
      run: vcpkg install sdl2 sdl2_ttf
    - name: build
      run: |
          mkdir build
          cd build
          cmake ..
    - name: On-Fail
      if: failure()
      run: type build/compile_commands.json
      
        
